<!--
  Generated template for the BorrowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>How Much Can I Borrow?</ion-title>
    <span navPop class="clo_se"></span>
  </ion-navbar>
</ion-header>


<ion-content padding  class="bgClass">


<ul *ngFor="let i of nameval" >
  <li>{{i.name}} {{i.roll}}</li>
</ul>


    <ion-slides #slides *ngIf="borrow.ques_list && borrow.ques_list.length" (ionSlideDidChange)="slideChanged()" (ionSlideReachStart)="StopSwipe()" (ionSlideReachEnd)="StopSwipe()">
      <ion-slide  *ngFor="let br of borrow.ques_list; let i = index">
        <div class="swipeSection">
          <div class="section-1">
            <h5>{{i+1}}. {{br.question}}</h5>
            <div *ngIf="br.type=='option'">
            <ul class="ulClass">
              {{borrow.ques_list.options}}

                <ion-list radio-group [(ngModel)]="br.answer" *ngFor="let opt of br.options; let in = index">

                     {{borrow.ques_list.options}}

                  <ion-item>
                    <ion-label>{{opt.option}}</ion-label>
                    <ion-radio value="{{opt.option}}"></ion-radio>
                  </ion-item>

                </ion-list>

             </ul>
          </div>

          <div *ngIf="br.type=='simple'">
              <div class="inputDiv">
                 <div *ngFor="let opt of br.options; let in = index">


                    <div *ngIf='i==2 || i==5 || i==6 || i==7 || i==8 || i==11 || i==12'>
                      <label for="{{opt.option}}">{{opt.option}} ($)</label>
                   <input type="number"   name="opt._id" class="text-field" id="simple_{{opt._id}}" value="0">
                    </div>
                    <div *ngIf='i!=2 && i!=5 && i!=6 && i!=7 && i!=8 && i!=11 && i!=12'>
                        <label for="{{opt.option}}">{{opt.option}}</label>
                      <input   type="text"   name="opt._id" class="text-field" id="simple_{{opt._id}}">
                        </div>
                 </div>
              </div>
          </div>

          <div *ngIf="br.type=='dropdown'">
            <div class="inputDiv">

              <div *ngFor="let opt of br.options; let in = index" class="drop_down">

                      <label>{{opt.option}}</label>
                      <select name="opt._id" [(ngModel)]="opt._id" id="dropdown_{{opt._id}}">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="more">More</option>
                      </select>

               </div>


          </div>
        </div>

          </div>
          </div>
        </ion-slide>


    </ion-slides>


    <div class="buttonWrapper">
      <div class="questionDiv">
          <span *ngIf='borrow.ques_list'>Total Question {{borrow.ques_list.length}}</span>
          <span *ngIf='borrow.ques_list && !RemainingQuestion && show==true'>Remaining {{borrow.ques_list.length-1}}</span>
          <span *ngIf='RemainingQuestion'>Remaining {{RemainingQuestion}}</span>
          <span *ngIf='show==false'>Remaining 0</span>



      </div>
      <div class="bottomButtan">
        <button class="preBtn" (click)="prev()"><img src="assets/images/back_icon.png" alt="">Back</button>
        <div *ngIf="show">
          <button class="nextBtn" (click)="next()">Next <img src="assets/images/next_icon.png" alt=""></button>
        </div>

        <div *ngIf="!show">
          <button class="nextBtn" (click)="submitborrow()">Submit <img src="assets/images/next_icon.png" alt=""></button>
        </div>


    </div>

  </div>
</ion-content>
