@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../assets/fonts/Poppins-Regular.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Regular.woff') format('woff'),
  url('../assets/fonts/Poppins-Regular.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Black';
	src: url('../assets/fonts/Poppins-Black.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Black.woff') format('woff'),
  url('../assets/fonts/Poppins-Black.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Bold';
	src: url('../assets/fonts/Poppins-Bold.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Bold.woff') format('woff'),
  url('../assets/fonts/Poppins-Bold.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Italic';
	src: url('../assets/fonts/Poppins-Italic.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Italic.woff') format('woff'),
  url('../assets/fonts/Poppins-Italic.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Light';
	src: url('../assets/fonts/Poppins-Light.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Light.woff') format('woff'),
  url('../assets/fonts/Poppins-Light.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Medium';
	src: url('../assets/fonts/Poppins-Medium.eot');
  src: local('☺'), url('../assets/fonts/Poppins-Medium.woff') format('woff'),
  url('../assets/fonts/Poppins-Medium.ttf') format('truetype'),
  url('../assets/fonts/Poppins-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Poppins-SemiBold';
	src: url('../assets/fonts/Poppins-SemiBold.eot');
  src: local('☺'), url('../assets/fonts/Poppins-SemiBold.woff') format('woff'),
  url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype'),
  url('../assets/fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Conv_Segoe-Print_39952';
	src: url('../assets/fonts/Segoe-Print_39952.eot');
  src: local('☺'), url('../assets/fonts/Segoe-Print_39952.woff') format('woff'),
  url('../assets/fonts/Segoe-Print_39952.ttf') format('truetype'),
  url('../assets/fonts/Segoe-Print_39952.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



// popup
.auth-alt .alert-head{
  background: #1f9f44;
  color: #fff;
 }
 .auth-alt .alert-wrapper{
  background-color: #0177b7;
  color: #fff;
 }
 .auth-alt .alert-message{
  color: #fff;
 }
 .alert-md .alert-input,.alert-md .alert-input:focus{
  border-bottom-color:#fff;
  border-bottom: 1px solid #fff;
  color: #fff;
 }



  .alert-md .alert-input::-webkit-input-placeholder {

  color: #cccccc;
  opacity: 1;
  }
  .alert-md .alert-input::-moz-placeholder {
  color: #cccccc;
  opacity: 1;
  }
  .alert-md .alert-input:-ms-input-placeholder {
  color: #cccccc;
  opacity: 1;
  }
  .alert-md .alert-input:-moz-placeholder {
  color: #cccccc;
  opacity: 1;
  }
  .alert-ios .alert-button-group{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  }

  .alert-md .alert-button,
  .alert-ios .alert-button{
  width: 45%;
  background: #393939;
  border-radius: 50px;
  padding: 8px 0;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  font-family: 'Conv_Poppins-Medium';
  border: 0;
  height: auto;
  min-width: 0;
  flex: 0 0 45%;
  font-size: 14px;
  font-family: 'Conv_Poppins-Regular';
  span{
  justify-content: center!important;
  }

  }



 .PhnAlt .alert-head, .promocodeAlt .alert-head{
    background: #1f9f44;
    padding: 12px 10px 12px !important;
    margin-bottom: 16px;
    color: #fff;
    font-size: 18px;
  }
  .PhnAlt .alert-title,  .promocodeAlt .alert-title {
    font-size: 15px;
    text-align: center;
  }

  .auth-alt .alert-head{ background: #1f9f44;
    padding: 12px 10px 12px !important;
    margin-bottom: 16px;
    color: #fff;
    font-size: 18px;
  }
  .auth-alt .alert-wrapper {
    max-width: 300px;
  }
  .auth-alt .alert-title {
    font-size: 15px;
    text-align: center;
  }
  .auth-alt .alert-message{padding: 0 15px 15px}

  .bar-button-default,.toolbar-title,ion-title{
  color: #fff;
  font-family: 'Avenir-Light';
  }
  .toolbar-title,ion-title{
    font-size: 17px;
    text-align: center;
    font-family: 'Conv_Segoe-Print_39952';
  }
  .text-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color: #ababab;
    opacity: 1;
  }
  .text-input::-moz-placeholder { /* Firefox 19+ */
    color: #ababab;
    opacity: 1;
  }
  .text-input:-ms-input-placeholder { /* IE 10+ */
    color: #ababab;
    opacity: 1;
  }
  .text-input:-moz-placeholder { /* Firefox 18- */
    color: #ababab;
    opacity: 1;
  }

  .toastcss{
    margin: 0 auto;
    .toast-wrapper {
      //left: 10%;
      border-radius: 10px;
      width: 90%;
    }
    .toast-message{font-size: 15px;
      color: #fff;
      padding: 12px 12px 12px;
      text-align: center;
      }
  }




  .back-button-text-ios{
    font-size: 0;
  }

//menu
.toolbar-background {
    background: #017cb8;
  }
  .menuBg{
    background: #a5d455;
  }
  .menuUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    // border: 1px solid #f00;
    float: left;
  }
  .menuUser img{
    border-radius: 50%;
  }
  .menuHeader{
    padding: 8px;
    float: left;
    width: 100%;
  }
  .menuEmail{
    float: left;
    padding-left: 8px;
    padding-top: 7px;
    width: 75%;
  }
  .menuEmail h6,.menuEmail p{
    margin: 0;
    color: #ffffff;
    font-family: 'Avenir-Light';

  }
  .menuEmail h6{
    font-size: 16px;
  }
  .menuEmail p{
    font-size: 14px;
  }


  .item{
  background-color: transparent;
  }


  .dashBoard{
    width: 25px;
    height: 25px;

  }
  .menuBtn{
    padding-left: 45px;
    font-family: 'Avenir-Light';
    color: #fff;

  }
  .logout{
    width: 18px;
    height: auto;
  }
  .cla_cutor{
    width: 19px;
    height: auto;
  }
  .menuIcon
  {

    // border: 1px solid #f00;
    position: absolute;
    top: 10px;
    left: 12px;
  }

  .list > .item-block:last-child,
  .list > .item-block:first-child{
    border-bottom: 0;
  }


  button.menuBtn.item:not([detail-none]) .item-inner{
    background-image: none;
  }
  .list .item-block .item-inner{
  border-bottom: 0;
  }

  .back-button.show-back-button {
    position: absolute;
    left: 0;
    z-index:1001;
}

.clo_se{
  background-image: url(../assets/images/closeIcon.png);
 width: 35px;
 height: 35px;
 background-repeat: no-repeat;
 background-size: 15px;
 display: inline-block;
 position: absolute;
 right: 12px;
 top: 12px;
 padding: 10px;
 background-position: center;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: none;
}



.promo-alt{
  .alert-wrapper{
    background-color: #017cb8;
  }
  .alert-title{
    font-size: 19px;
    color: #fff;
  }

}
.alert-md.promo-alt .alert-button, .alert-ios.promo-alt .alert-button{
  flex: 0 0 100%!important;
  width: 100%!important;
  margin-bottom: 5px;
}

.PhnAlt .alert-wrapper{
  background-color: #017cb8;
}



@media(min-width:600px){
    .cla_cutor {
        width: 20px;}
    .logout {
        width: 20px;
        margin-left: 4px;
    }
    .menuBg .scroll-content{
        margin-top: 74px !important;
    }
    .menuBtn {
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 55px;
    }
    .menuIcon{
        top: 18px;
    }
    .dashBoard {
        width: 30px;
        height: 30px;
    }
  }







  @media(min-width:768px){
    .md .modal-wrapper{
      box-shadow: none!important;
  }
    .cla_cutor {
        width: 27px;
    }
    .logout {
        width: 30px;
    }
    .menuBg .scroll-content{
        margin-top: 131px !important;
    }
    ion-menu[side=left] .menu-inner {
        width: 600px;
    }

    .menuHeader{
        padding: 20px 34px;
    }

    .menuEmail h6{
        font-size: 36px;
    }
    .menuEmail p{
        font-size: 26px;
    }
    .menuEmail{
        width: 85%;
        padding-left: 28px;
        padding-top: 5px;
    }
    .menuUser {
        width: 78px;
        height: 78px;
    }
    .menuBtn{
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 30px;
        padding-left: 140px;
    }
    .menuIcon{
        left: 54px;
        top: 44px;
    }
    .dashBoard{
        width: 45px;
        height: 36px;
    }

    // .bar-button-menutoggle-ios ion-icon {
    //     font-size: 60px;
    // }
    .bar-button {
        height: 56px;
    }



  }
