<!--
  Generated template for the ViewMyAppliedQuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>My Answer</ion-title>
      </ion-navbar>

</ion-header>

<ion-content padding  >
  <div *ngIf="answerlist.length>0" class="Question-wrap">
    <ion-card  *ngFor="let MyAns of answerlist; let i=index;" class="Quest-list">

        <ion-card-header class="Quest-title">
           <span>{{i+1}}.</span> {{MyAns.quesId.question}}
        </ion-card-header>

     <div  [ngClass]='{subQtn: MyAns.quesId.type==="simple" ||  MyAns.quesId.type==="dropdown"}'>
    <ion-list    [ngClass]='{SubQtnTitle: MyAns.quesId.type==="simple" ||  MyAns.quesId.type==="dropdown"}' *ngFor="let SubQues of MyAns.opt_name; let k=index;" >
         <ion-list-header *ngIf='MyAns.quesId.type==="simple" || MyAns.quesId.type==="dropdown"' >
          <span>{{k+1}}</span>.  {{SubQues | titlecase}}
        </ion-list-header>

          <ion-item class="Ques-ans" >
            {{MyAns.ans[k] | titlecase}}
          </ion-item>

        </ion-list>
        </div>


      </ion-card>
</div>
</ion-content>
