page-stamp-duty {
    .section-1{
        border: 1px solid #d4d4d4;
        padding-bottom: 30px;
        margin-bottom: 150px;
        width: 100%;float: left;
    }
    .section-1 h5{
        text-align: center;
        color: #020202;
        font-family: 'Avenir-Medium';
        font-size: 18px;
        margin: 0;
        padding: 15px 0;
        margin-bottom: 30px;
        border-bottom: 1px solid #d4d4d4;
    }
    // radio
    input[type=radio]:not(old){
        width     : 2em;
        width     : 0;
        margin    : 0;
        padding   : 0;
        font-size : 1em;
        opacity   : 0;
      }
    input[type=radio   ]:not(old) + label > span{
        display          : inline-block;
        width: 14px;
        height: 14px;
        margin           : 0.25em 0.5em 0.25em 0.25em;
        border           : 2px solid #d4d4d4;
        background       : transparent;
        vertical-align   : bottom;
        border-radius    :50%; 
      }
      input[type=radio]:not(old):checked +  label > span > span{
        display: block;
        width: 7px;
        height: 7px;
        margin: 0.1em;
        border-radius: 50%;
        background: #73994d;
      }
    //   radio end
    .ulClass{
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        width: 100%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .ulClass li{
        display: inline-block;
        padding: 5px;
        // border: 1px solid #d4d4d4;
        // background-color: #f4f4f4;
        // margin-right: 5px;
        color: #616060;
        font-size: 16px;
        font-family: 'Avenir-Light';
        border-radius: 5px;
        width: 49%;
        display: inline-block;
        text-align: left;
        position: relative;
        height: 55px;
    }
    .ulClass li label{
        position: absolute;
        padding-left: 25px;
        display: inline-block;
    }
     input[type=radio]:not(old) + label > span{
            position: absolute;
            left: 0;
            margin-left: 0;
     }
    .buttonWrapper{
        position: fixed;
        width: 100%;
        left: 0;
        padding: 16px ;
        bottom: 0;
    }
    .bottomButtan {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        float: left;
    }
    .bottomButtan button{ 
        width: 50%;
        float: left;
        padding: 12px 0;
        background: #393939;
        color: #ffffff;
        font-family: 'Avenir-Light';
        font-size: 14px;
        text-transform: uppercase;
    }
    .bottomButtan button:first-child{
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-right: 1px solid #575757;
    }
    .bottomButtan button:last-child{
        border-top-right-radius:50px;
        border-bottom-right-radius: 50px;
    }
    .bottomButtan button:first-child img{
        width: 7px;
        margin-right: 11px;
    }
    .bottomButtan button:last-child img{
        width: 7px;
        margin-left: 7px;
    }
    .questionDiv span{
        display: inline-block;
        font-size: 12px;
        font-family: 'Avenir-Medium';
    }
    .questionDiv span:first-child{
        float: left;
        color: #020202;
        padding-left: 5px;
    }
    .questionDiv span:last-child{
        float: right;
        color: #9bcb48;
        padding-right: 5px;   
    }
    @media(min-width:600px){
        .questionDiv span{
            font-size: 16px;
        }
        .section-1 {
            border: 1px solid #d4d4d4;
            padding-bottom: 50px;
            margin-bottom: 50px;
        }
         .bottomButtan button{
            padding: 20px 0;
            font-size: 20px;
        }
        .ulClass li{
            height: auto;
            width: 45%;
        }
    }
    @media(min-width:768px){
         .section-1{
            padding-bottom: 75px;
        }
        .section-1 h5{
            font-size: 30px;
            padding: 30px 0 25px;
            margin-bottom: 36px;
        }
        input[type=radio]:not(old) + label > span{
            width: 29px;
            height: 29px;
        }
        input[type=radio]:not(old):checked + label > span > span{
            width: 21px;
            height: 21px;
        }
         .ulClass li{
            padding: 34px 34px 15px;
            margin-right: 14px;
        }
        .ulClass li label{
            font-size: 26px;
        }
        .questionDiv span{
            font-size: 24px;
        }
        .bottomButtan button{
            padding: 25px 0;
            font-size: 26px;
        }
         .bottomButtan button:first-child img{
            width: 11px;
            margin-right: 18px;
        }
       .bottomButtan button:last-child img {
            width: 11px;
            margin-left: 10px;
        }
         .bottomButtan{
            margin-bottom: 12px;
            margin-top: 30px;
        }
       .questionDiv span:last-child{
            padding-right: 15px;
        }
        .questionDiv span:first-child{
            padding-left: 15px;
        }
         .ulClass li label{
            padding-left: 47px;
        }
         input[type=radio]:not(old) + label > span{
            top: -4px;
        }
    }
    @media(min-width:320px) and (orientation:landscape){
         .buttonWrapper{
            position: relative;
        }
    }
}