page-menu {
  .bgClass{
    background-color: #017bb8;
}

.loanOption{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    p{
        color: #ffffff;
        font-size: 16px;
        font-family: 'Conv_Poppins-Regular';
        margin: 0;
    }
    li{
        position: relative;
        padding: 10px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: center;

    }
}
.rightArrow{
    width: 19px;
    height: 13px;
    background-image: url(../assets/images/rgtArrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.loanOption li:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: url(../assets/images/borderImg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0px;
    left: 0;
}



.absoluteDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #017bb8;
    top: 0;
    left:0;

.newHeader{
    background-color: #017cb8;
    padding: 15px 0;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    p{
        margin: 0;
        color: #fff;
        font-size: 17px;
    text-align: center;
    font-family: 'Conv_Segoe-Print_39952';
    }
}
.closeBtn{
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url(../assets/images/closeIcon.png);
    background-size: cover;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-indent: -999999px;
    right: 24px;
    top: 24px;
}
.check_box{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        position: relative;
        padding: 10px;
        align-items: center;
        label{
            color: #ffffff;
            font-family: 'Conv_Poppins-Regular';
            display: flex;
            align-items: center;
        }
    }
    li:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-image: url(../assets/images/borderImg.png);
        background-size: 100%;
        background-repeat: no-repeat;
        bottom: 0px;
        left: 0;
    }
}
.bodySection{
    padding: 16px;
}

}


.loginBtn{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 14px 0;
    color: #242424;
    position: relative;
    font-family: 'Conv_Poppins-Regular';
    position: relative;
    margin-top: 20px;
}
.needToTalk{
  text-align: center;
  padding-top: 25px;
  p{
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px;
  font-family: 'Conv_Segoe-Print_39952';
  a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 5px;
  }
  }
 }

.clo_se{
  background-image: url(../assets/images/closeIcon.png);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 15px;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 10px;
  background-position: center;
  }
  .topDiv{

    padding-top: 0px;
    padding-bottom: 10px;
   }

   .logo{
    width: 120px;
   margin: 0 auto;
   position: relative;
   background-image: url(../assets/images/logoBg.png);
   background-size: cover;
   padding: 5px;
   height: 120px;
    span{
    display: block;
    width: 100%;
    height: 100%;
    }
   }
@media(min-width:768px){
  .loanOption{
    p{
        font-size: 24px;
    }
}
.rightArrow{
    width: 33px;
    height: 24px;
}
 .loanOption{
    li{
        padding: 27px 32px 38px
    }
}
.needToTalk{
    padding-top: 35px;
    p{
        font-size: 24px;
    }
}
.logo{
  width: 150px;
  height: 150px;
}
}

}
